a{
  text-decoration: none;
}
li{
  list-style: none;
}

body{
  background-color: #EFEDEA;
}

.cartItem{
 display: flex;
 justify-content: center;
 align-items: center;
}


.cartItem p {
  margin: 5px;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.cartItem button {
  border: none;
  background-color: #3607f1;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cartItem button:hover {
  background-color: #7da5f6;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .card {
    border-radius: 8px;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  body {
    font-size: 18px;
  }
  
}
.product-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 70%;
  margin: 0 auto;

}



.footer{
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #232020;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  background-color: #C8AE7D;
  
}
.footeritemdiv1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.footeritemdiv2{
  text-align: center;
}



/* Individual flex divs */
.flex-item {
   /* Adjust width to fit 3 divs per row with some spacing */
  margin-bottom: 20px; /* Margin between flex items */
  background-color: #f0f0f0; /* Background color for demonstration */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.store{
  display: flex;
  flex-direction: row;
}

.favourites{
  width: 600px;
  height: 100vh;
  margin: 0 auto;
   border-radius: 10px; /* Border radius for rounded corners */
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); /* Box shadow with horizontal offset, vertical offset, blur radius, spread radius, and color */

}

.favourite-item{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); /* Box shadow with horizontal offset, vertical offset, blur radius, spread radius, and color */

}

.drawer{
  background-color: #825e26;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #8e620a, #dad1c3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 20px;
  position: fixed;
 z-index: 1000;
}
.navbarbrand{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #6b4404;
  border-radius: 50px;
  background-color: #6b4404;
}
.navbarbrand img{
  width: 60px;
  height: 60px;
  margin: 0px;
  padding: 0px;
}
.navbarbrand h4 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  color: #ffffff;
}

.navmenuitems {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navmenuitem {
  margin-right: 20px;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navmenuitem:hover {
  color: #FFFFFF;
}

.navactionkeys {
  display: flex;
  align-items: center;
}

.navbutton{
  background-color: #FF8000 !important;
  padding: 13px;
  padding-left:15px;
  padding-right: 15px;
  border-radius: 50px;
  border: none;

}

.navactionkeys .navmenuitem {
  margin-right: 20px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.drawer-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navmenuitems {
    display: none;
  }

  .navactionkeys {
    display: none;
  }

  .drawer-toggle {
    display: block;
  }

  .drawer-toggle button {
    background: none;
    border: none;
    cursor: pointer;
  }
}



/* *******LANDING ******** */

.landing {
  padding: 40px;
}

.landingheader {
  text-align: center;
  margin-bottom: 40px;
}

.landingtext {
  color: #201d1d;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.search-container {
  text-align: center;
  margin-top: 20px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  background-color: #FF8000;
  color: #160f0f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.landing1 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 40px;
  margin-bottom: 40px;
 
}
.landing1-typo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.landinghow {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.landinghow div {
  text-align: center;
}

.downloadapplanding {
  background: linear-gradient(to bottom, #FF8000, #a96a03);
  color: #ffffff;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

.downloaddiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.downloadlink {
  width: 150px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .search-input {
    width: 100%;
  }
  
  .landing1 {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .landing {
    padding: 20px;
  }

  .downloaddiv {
    flex-direction: column;
    align-items: center;
  }

  .downloadlink {
    margin: 10px 0;
  }
}








.container {
  height: 500px; 
  width: 60%;
  position: relative;
  /* background-color: #825e26; */
  background-image:url(./assets/images/banner1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to bottom right, #c2aa85, #684907); */
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
 .content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
 }

.left-content,
.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
  height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #f0f0f0;
}

@media  (max-width: 750px){

  .container {
  height: 200px; 
  width: 80%;
  position: relative;
  /* background-color: #825e26; */
  background-image:url(./assets/images/banner1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to bottom right, #c2aa85, #684907); */
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.left-content,
.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
  height: 160px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #f0f0f0; }

.margin{
  height: 50px;
}
}


/* ***** PRODUCT ****** */

.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.pd-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.pd-data {
  text-align: center;
  margin-bottom: 20px;
}

.pd-data p {
  margin: 5px 0;
}

.productDetail > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.productDetail > div:last-child button {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .productDetail {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .pd-data {
    margin-right: 20px;
    text-align: left;
  }

  .pd-data p {
    margin: 10px 0;
  }

  .productDetail > div:last-child {
    flex-direction: row;
    justify-content: space-between;
  }

  .productDetail > div:last-child button {
    margin-bottom: 0;
  }


}

@media (min-width: 1024px) {
  .productDetail {
    padding: 40px;
  }

  .pd-image {
    max-width: 50%;
    margin-right: 40px;
  }

  .pd-data {
    max-width: 50%;
    text-align: left;
  }
}

